src/articles/generation_articles_make/Newsletter – Génération & Envoi bi-mensuel CORRIGÉ.blueprint.json
{
    "name": "Newsletter – Génération & Envoi bi-mensuel",
    "flow": [
        {
            "id": 34,
            "module": "util:BasicTrigger",
            "version": 1,
            "parameters": {
                "values": [
                    {
                        "spec": [
                            {
                                "name": "start",
                                "value": "{}"
                            }
                        ]
                    }
                ]
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "values": {
                            "items": [
                                {
                                    "spec": {
                                        "mode": "chose",
                                        "items": [
                                            null
                                        ]
                                    }
                                }
                            ]
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "values",
                        "spec": [
                            {
                                "name": "spec",
                                "spec": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name",
                                        "required": true
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value",
                                        "required": true
                                    }
                                ],
                                "type": "array",
                                "label": "Items",
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Bundles",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "start",
                        "type": "text",
                        "label": "start"
                    }
                ]
            }
        },
        {
            "id": 1,
            "module": "rss:ActionReadArticles",
            "version": 4,
            "parameters": {
                "include": []
            },
            "filter": {
                "name": "Date = 1er ou 15 du mois",
                "conditions": [
                    [
                        {
                            "a": "{{formatDate(now; \"D\")}}",
                            "b": "1",
                            "o": "text:equal"
                        }
                    ],
                    [
                        {
                            "a": "{{formatDate(now; \"D\")}}",
                            "b": "25",
                            "o": "text:equal"
                        }
                    ]
                ]
            },
            "mapper": {
                "url": "https://www.francenum.gouv.fr/flux-rss-formations",
                "gzip": true,
                "password": "",
                "username": "",
                "maxResults": "5",
                "filterDateTo": "{{now}}",
                "filterDateFrom": "{{addDays(now; -15)}}"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0,
                    "name": "RSS – FranceNum Formations"
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "include",
                        "type": "select",
                        "label": "Process RSS fields",
                        "multiple": true,
                        "validate": {
                            "enum": [
                                "google-merchant-center",
                                "itunes"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "username",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "password",
                        "type": "text",
                        "label": "Password"
                    },
                    {
                        "name": "filterDateFrom",
                        "type": "date",
                        "label": "Date from"
                    },
                    {
                        "name": "filterDateTo",
                        "type": "date",
                        "label": "Date to "
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of returned items",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "title",
                        "type": "text",
                        "label": "Title"
                    },
                    {
                        "name": "description",
                        "type": "text",
                        "label": "Description"
                    },
                    {
                        "name": "summary",
                        "type": "text",
                        "label": "Summary"
                    },
                    {
                        "name": "author",
                        "type": "text",
                        "label": "Author"
                    },
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL"
                    },
                    {
                        "name": "dateUpdated",
                        "type": "date",
                        "label": "Date updated"
                    },
                    {
                        "name": "dateCreated",
                        "type": "date",
                        "label": "Date created"
                    },
                    {
                        "name": "comments",
                        "type": "url",
                        "label": "Comments"
                    },
                    {
                        "name": "image",
                        "spec": [
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            }
                        ],
                        "type": "collection",
                        "label": "Image"
                    },
                    {
                        "name": "categories",
                        "spec": {
                            "type": "text"
                        },
                        "type": "array",
                        "label": "Categories"
                    },
                    {
                        "name": "source",
                        "spec": [
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            }
                        ],
                        "type": "collection",
                        "label": "Source"
                    },
                    {
                        "name": "enclosures",
                        "spec": [
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "length",
                                "type": "number",
                                "label": "Length"
                            }
                        ],
                        "type": "array",
                        "label": "Enclosures"
                    },
                    {
                        "help": "Other RSS fields. All values are in text format.",
                        "name": "rssFields",
                        "spec": [
                            {
                                "name": "title",
                                "type": "text",
                                "label": "title"
                            },
                            {
                                "name": "link",
                                "type": "text",
                                "label": "link"
                            },
                            {
                                "name": "description",
                                "type": "text",
                                "label": "description"
                            },
                            {
                                "name": "category",
                                "type": "text",
                                "label": "category"
                            },
                            {
                                "name": "pubdate",
                                "type": "text",
                                "label": "pubdate"
                            }
                        ],
                        "type": "collection",
                        "label": "RSS fields"
                    }
                ]
            }
        },
        {
            "id": 11,
            "module": "util:TextAggregator",
            "version": 1,
            "parameters": {
                "feeder": 1,
                "rowSeparator": "\n"
            },
            "filter": {
                "name": "Articles récents avec lien valide – FranceNum Formations",
                "conditions": [
                    [
                        {
                            "a": "{{if(contains(1.rssFields.pubdate + 1.rssFields.pubdate; \"/\"); parseDate(1.rssFields.pubdate; \"DD/MM/YYYY - HH:mm\"); parseDate(1.rssFields.pubdate; \"ddd, DD MMM YYYY HH:mm:ss ZZ\"))}}",
                            "b": "{{addDays(now; -15)}}",
                            "o": "date:greaterorequal"
                        },
                        {
                            "a": "{{1.url}}",
                            "b": "\\/\\d{1,3}\\/\\d{2}\\/\\d{4}",
                            "o": "text:notpattern:ci"
                        }
                    ]
                ]
            },
            "mapper": {
                "value": "Title:   {{1.title}}. Text:  {{1.description}}. Date:  {{1.rssFields.pubdate}}. Url:   {{1.url}}"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0,
                    "name": "Reorganisation tous les article dans un seul text"
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "RSS – FranceNum Formations - Retrieve RSS feed items [1]"
                        }
                    },
                    "parameters": {
                        "rowSeparator": {
                            "label": "New row"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "rowSeparator",
                        "type": "select",
                        "label": "Row separator",
                        "validate": {
                            "enum": [
                                "\n",
                                "\t",
                                "other"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "value",
                        "type": "text",
                        "label": "Text"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 9,
            "module": "rss:ActionReadArticles",
            "version": 4,
            "parameters": {
                "include": []
            },
            "mapper": {
                "url": "https://www.francenum.gouv.fr/flux-rss-aides",
                "gzip": true,
                "password": "",
                "username": "",
                "maxResults": "5",
                "filterDateTo": "{{now}}",
                "filterDateFrom": "{{addDays(now; -15)}}"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0,
                    "name": "RSS – FranceNum Aides"
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "include",
                        "type": "select",
                        "label": "Process RSS fields",
                        "multiple": true,
                        "validate": {
                            "enum": [
                                "google-merchant-center",
                                "itunes"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "username",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "password",
                        "type": "text",
                        "label": "Password"
                    },
                    {
                        "name": "filterDateFrom",
                        "type": "date",
                        "label": "Date from"
                    },
                    {
                        "name": "filterDateTo",
                        "type": "date",
                        "label": "Date to "
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of returned items",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "title",
                        "type": "text",
                        "label": "Title"
                    },
                    {
                        "name": "description",
                        "type": "text",
                        "label": "Description"
                    },
                    {
                        "name": "summary",
                        "type": "text",
                        "label": "Summary"
                    },
                    {
                        "name": "author",
                        "type": "text",
                        "label": "Author"
                    },
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL"
                    },
                    {
                        "name": "dateUpdated",
                        "type": "date",
                        "label": "Date updated"
                    },
                    {
                        "name": "dateCreated",
                        "type": "date",
                        "label": "Date created"
                    },
                    {
                        "name": "comments",
                        "type": "url",
                        "label": "Comments"
                    },
                    {
                        "name": "image",
                        "spec": [
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            }
                        ],
                        "type": "collection",
                        "label": "Image"
                    },
                    {
                        "name": "categories",
                        "spec": {
                            "type": "text"
                        },
                        "type": "array",
                        "label": "Categories"
                    },
                    {
                        "name": "source",
                        "spec": [
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            }
                        ],
                        "type": "collection",
                        "label": "Source"
                    },
                    {
                        "name": "enclosures",
                        "spec": [
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "length",
                                "type": "number",
                                "label": "Length"
                            }
                        ],
                        "type": "array",
                        "label": "Enclosures"
                    },
                    {
                        "help": "Other RSS fields. All values are in text format.",
                        "name": "rssFields",
                        "spec": [
                            {
                                "name": "title",
                                "type": "text",
                                "label": "title"
                            },
                            {
                                "name": "link",
                                "type": "text",
                                "label": "link"
                            },
                            {
                                "name": "description",
                                "type": "text",
                                "label": "description"
                            },
                            {
                                "name": "category",
                                "type": "text",
                                "label": "category"
                            },
                            {
                                "name": "pubdate",
                                "type": "text",
                                "label": "pubdate"
                            }
                        ],
                        "type": "collection",
                        "label": "RSS fields"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "util:TextAggregator",
            "version": 1,
            "parameters": {
                "feeder": 9,
                "rowSeparator": "\n"
            },
            "filter": {
                "name": "Articles récents avec lien valide – FranceNum Aides",
                "conditions": [
                    [
                        {
                            "a": "{{if(contains(9.rssFields.pubdate + 9.rssFields.pubdate; \"/\"); parseDate(9.rssFields.pubdate; \"DD/MM/YYYY - HH:mm\"); parseDate(9.rssFields.pubdate; \"ddd, DD MMM YYYY HH:mm:ss ZZ\"))}}",
                            "b": "{{addDays(now; -15)}}",
                            "o": "date:greaterorequal"
                        },
                        {
                            "a": "{{9.url}}",
                            "b": "\\/\\d{1,3}\\/\\d{2}\\/\\d{4}",
                            "o": "text:notpattern:ci"
                        }
                    ]
                ]
            },
            "mapper": {
                "value": "Title: {{9.title}}. Text: {{9.description}}. Date: {{9.rssFields.pubdate}}. Url: {{9.url}}"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0,
                    "name": "Agrégation des articles – FranceNum Aides"
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "RSS – FranceNum Aides - Retrieve RSS feed items [9]"
                        }
                    },
                    "parameters": {
                        "rowSeparator": {
                            "label": "New row"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "rowSeparator",
                        "type": "select",
                        "label": "Row separator",
                        "validate": {
                            "enum": [
                                "\n",
                                "\t",
                                "other"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "value",
                        "type": "text",
                        "label": "Text"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 12,
            "module": "rss:ActionReadArticles",
            "version": 4,
            "parameters": {
                "include": []
            },
            "mapper": {
                "url": "https://www.francenum.gouv.fr/flux-rss-principal",
                "gzip": true,
                "password": "",
                "username": "",
                "maxResults": "5",
                "filterDateTo": "{{now}}",
                "filterDateFrom": "{{addDays(now; -15)}}"
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 0,
                    "name": "RSS – FranceNum Principal"
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "include",
                        "type": "select",
                        "label": "Process RSS fields",
                        "multiple": true,
                        "validate": {
                            "enum": [
                                "google-merchant-center",
                                "itunes"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "username",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "password",
                        "type": "text",
                        "label": "Password"
                    },
                    {
                        "name": "filterDateFrom",
                        "type": "date",
                        "label": "Date from"
                    },
                    {
                        "name": "filterDateTo",
                        "type": "date",
                        "label": "Date to "
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of returned items",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "title",
                        "type": "text",
                        "label": "Title"
                    },
                    {
                        "name": "description",
                        "type": "text",
                        "label": "Description"
                    },
                    {
                        "name": "summary",
                        "type": "text",
                        "label": "Summary"
                    },
                    {
                        "name": "author",
                        "type": "text",
                        "label": "Author"
                    },
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL"
                    },
                    {
                        "name": "dateUpdated",
                        "type": "date",
                        "label": "Date updated"
                    },
                    {
                        "name": "dateCreated",
                        "type": "date",
                        "label": "Date created"
                    },
                    {
                        "name": "comments",
                        "type": "url",
                        "label": "Comments"
                    },
                    {
                        "name": "image",
                        "spec": [
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            }
                        ],
                        "type": "collection",
                        "label": "Image"
                    },
                    {
                        "name": "categories",
                        "spec": {
                            "type": "text"
                        },
                        "type": "array",
                        "label": "Categories"
                    },
                    {
                        "name": "source",
                        "spec": [
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            }
                        ],
                        "type": "collection",
                        "label": "Source"
                    },
                    {
                        "name": "enclosures",
                        "spec": [
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "length",
                                "type": "number",
                                "label": "Length"
                            }
                        ],
                        "type": "array",
                        "label": "Enclosures"
                    },
                    {
                        "help": "Other RSS fields. All values are in text format.",
                        "name": "rssFields",
                        "spec": [
                            {
                                "name": "title",
                                "type": "text",
                                "label": "title"
                            },
                            {
                                "name": "link",
                                "type": "text",
                                "label": "link"
                            },
                            {
                                "name": "description",
                                "type": "text",
                                "label": "description"
                            },
                            {
                                "name": "category",
                                "type": "text",
                                "label": "category"
                            },
                            {
                                "name": "pubdate",
                                "type": "text",
                                "label": "pubdate"
                            }
                        ],
                        "type": "collection",
                        "label": "RSS fields"
                    }
                ]
            }
        },
        {
            "id": 14,
            "module": "util:TextAggregator",
            "version": 1,
            "parameters": {
                "feeder": 12,
                "rowSeparator": "\n"
            },
            "filter": {
                "name": "Articles récents avec lien valide – FranceNum Principal",
                "conditions": [
                    [
                        {
                            "a": "{{if(contains(12.rssFields.pubdate; \"/\"); parseDate(12.rssFields.pubdate; \"DD/MM/YYYY - HH:mm\"); parseDate(12.rssFields.pubdate; \"ddd, DD MMM YYYY HH:mm:ss ZZ\"))}}",
                            "b": "{{addDays(now; -15)}}",
                            "o": "date:greaterorequal"
                        },
                        {
                            "a": "{{12.url}}",
                            "b": "\\/\\d{1,3}\\/\\d{2}\\/\\d{4}",
                            "o": "text:notpattern:ci"
                        }
                    ]
                ]
            },
            "mapper": {
                "value": "Title: {{12.title}}. Text: {{12.description}}. Date: {{12.rssFields.pubdate}}. Url: {{12.url}}"
            },
            "metadata": {
                "designer": {
                    "x": 1800,
                    "y": 0,
                    "name": "Agrégation des articles"
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "RSS – FranceNum Principal - Retrieve RSS feed items [12]"
                        }
                    },
                    "parameters": {
                        "rowSeparator": {
                            "label": "New row"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "rowSeparator",
                        "type": "select",
                        "label": "Row separator",
                        "validate": {
                            "enum": [
                                "\n",
                                "\t",
                                "other"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "value",
                        "type": "text",
                        "label": "Text"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 19,
            "module": "rss:ActionReadArticles",
            "version": 4,
            "parameters": {
                "include": []
            },
            "filter": null,
            "mapper": {
                "url": "https://www.blogdumoderateur.com/feed/",
                "gzip": true,
                "password": "",
                "username": "",
                "maxResults": "5",
                "filterDateTo": "{{now}}",
                "filterDateFrom": "{{addDays(now; -15)}}"
            },
            "metadata": {
                "designer": {
                    "x": 2100,
                    "y": 0,
                    "name": "RSS – Blog du Modérateur"
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "include",
                        "type": "select",
                        "label": "Process RSS fields",
                        "multiple": true,
                        "validate": {
                            "enum": [
                                "google-merchant-center",
                                "itunes"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "username",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "password",
                        "type": "text",
                        "label": "Password"
                    },
                    {
                        "name": "filterDateFrom",
                        "type": "date",
                        "label": "Date from"
                    },
                    {
                        "name": "filterDateTo",
                        "type": "date",
                        "label": "Date to "
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of returned items",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "title",
                        "type": "text",
                        "label": "Title"
                    },
                    {
                        "name": "description",
                        "type": "text",
                        "label": "Description"
                    },
                    {
                        "name": "summary",
                        "type": "text",
                        "label": "Summary"
                    },
                    {
                        "name": "author",
                        "type": "text",
                        "label": "Author"
                    },
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL"
                    },
                    {
                        "name": "dateUpdated",
                        "type": "date",
                        "label": "Date updated"
                    },
                    {
                        "name": "dateCreated",
                        "type": "date",
                        "label": "Date created"
                    },
                    {
                        "name": "comments",
                        "type": "url",
                        "label": "Comments"
                    },
                    {
                        "name": "image",
                        "spec": [
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            }
                        ],
                        "type": "collection",
                        "label": "Image"
                    },
                    {
                        "name": "categories",
                        "spec": {
                            "type": "text"
                        },
                        "type": "array",
                        "label": "Categories"
                    },
                    {
                        "name": "source",
                        "spec": [
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            }
                        ],
                        "type": "collection",
                        "label": "Source"
                    },
                    {
                        "name": "enclosures",
                        "spec": [
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "length",
                                "type": "number",
                                "label": "Length"
                            }
                        ],
                        "type": "array",
                        "label": "Enclosures"
                    },
                    {
                        "help": "Other RSS fields. All values are in text format.",
                        "name": "rssFields",
                        "spec": [
                            {
                                "name": "title",
                                "type": "text",
                                "label": "title"
                            },
                            {
                                "name": "link",
                                "type": "text",
                                "label": "link"
                            },
                            {
                                "name": "comments",
                                "type": "text",
                                "label": "comments"
                            },
                            {
                                "name": "pubdate",
                                "type": "text",
                                "label": "pubdate"
                            },
                            {
                                "name": "category",
                                "type": "text",
                                "label": "category"
                            },
                            {
                                "name": "guid",
                                "type": "text",
                                "label": "guid"
                            },
                            {
                                "name": "description",
                                "type": "text",
                                "label": "description"
                            },
                            {
                                "name": "enclosure",
                                "type": "text",
                                "label": "enclosure"
                            }
                        ],
                        "type": "collection",
                        "label": "RSS fields"
                    }
                ]
            }
        },
        {
            "id": 20,
            "module": "util:TextAggregator",
            "version": 1,
            "parameters": {
                "feeder": 19,
                "rowSeparator": "\n"
            },
            "filter": {
                "name": "Articles avec lien valide – Blog du Modérateur",
                "conditions": [
                    [
                        {
                            "a": "{{19.url}}",
                            "b": "\\/\\d{1,3}\\/\\d{2}\\/\\d{4}",
                            "o": "text:notpattern:ci"
                        }
                    ]
                ]
            },
            "mapper": {
                "value": "Title: {{19.title}}. Text: {{19.description}}. Date: {{19.rssFields.pubdate}}. Url: {{19.url}}"
            },
            "metadata": {
                "designer": {
                    "x": 2400,
                    "y": 0,
                    "name": "Agrégation tous les articles"
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "RSS – Blog du Modérateur - Retrieve RSS feed items [19]"
                        }
                    },
                    "parameters": {
                        "rowSeparator": {
                            "label": "New row"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "rowSeparator",
                        "type": "select",
                        "label": "Row separator",
                        "validate": {
                            "enum": [
                                "\n",
                                "\t",
                                "other"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "value",
                        "type": "text",
                        "label": "Text"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 36,
            "module": "rss:ActionReadArticles",
            "version": 4,
            "parameters": {
                "include": []
            },
            "filter": {
                "name": "Texte articles non vide",
                "conditions": [
                    [
                        {
                            "a": "{{20.text}}",
                            "o": "exist"
                        }
                    ]
                ]
            },
            "mapper": {
                "url": "https://news.google.com/rss/search?q=bpifrance&hl=fr",
                "gzip": true,
                "password": "",
                "username": "",
                "maxResults": "5",
                "filterDateTo": "{{now}}",
                "filterDateFrom": "{{addDays(now; -15)}}"
            },
            "metadata": {
                "designer": {
                    "x": 2700,
                    "y": 0
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "include",
                        "type": "select",
                        "label": "Process RSS fields",
                        "multiple": true,
                        "validate": {
                            "enum": [
                                "google-merchant-center",
                                "itunes"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "username",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "password",
                        "type": "text",
                        "label": "Password"
                    },
                    {
                        "name": "filterDateFrom",
                        "type": "date",
                        "label": "Date from"
                    },
                    {
                        "name": "filterDateTo",
                        "type": "date",
                        "label": "Date to "
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of returned items",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "title",
                        "type": "text",
                        "label": "Title"
                    },
                    {
                        "name": "description",
                        "type": "text",
                        "label": "Description"
                    },
                    {
                        "name": "summary",
                        "type": "text",
                        "label": "Summary"
                    },
                    {
                        "name": "author",
                        "type": "text",
                        "label": "Author"
                    },
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL"
                    },
                    {
                        "name": "dateUpdated",
                        "type": "date",
                        "label": "Date updated"
                    },
                    {
                        "name": "dateCreated",
                        "type": "date",
                        "label": "Date created"
                    },
                    {
                        "name": "comments",
                        "type": "url",
                        "label": "Comments"
                    },
                    {
                        "name": "image",
                        "spec": [
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            }
                        ],
                        "type": "collection",
                        "label": "Image"
                    },
                    {
                        "name": "categories",
                        "spec": {
                            "type": "text"
                        },
                        "type": "array",
                        "label": "Categories"
                    },
                    {
                        "name": "source",
                        "spec": [
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            }
                        ],
                        "type": "collection",
                        "label": "Source"
                    },
                    {
                        "name": "enclosures",
                        "spec": [
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "length",
                                "type": "number",
                                "label": "Length"
                            }
                        ],
                        "type": "array",
                        "label": "Enclosures"
                    },
                    {
                        "help": "Other RSS fields. All values are in text format.",
                        "name": "rssFields",
                        "spec": [
                            {
                                "name": "title",
                                "type": "text",
                                "label": "title"
                            },
                            {
                                "name": "link",
                                "type": "text",
                                "label": "link"
                            },
                            {
                                "name": "guid",
                                "type": "text",
                                "label": "guid"
                            },
                            {
                                "name": "pubdate",
                                "type": "text",
                                "label": "pubdate"
                            },
                            {
                                "name": "description",
                                "type": "text",
                                "label": "description"
                            },
                            {
                                "name": "source",
                                "type": "text",
                                "label": "source"
                            }
                        ],
                        "type": "collection",
                        "label": "RSS fields"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 37,
            "module": "util:TextAggregator",
            "version": 1,
            "parameters": {
                "feeder": 36,
                "rowSeparator": "\n"
            },
            "filter": null,
            "mapper": {
                "value": "Title: {{36.title}}. Text: {{36.description}}. Date: {{36.rssFields.pubdate}}. Url: {{36.url}}"
            },
            "metadata": {
                "designer": {
                    "x": 3000,
                    "y": 0
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "RSS - Retrieve RSS feed items [36]"
                        }
                    },
                    "parameters": {
                        "rowSeparator": {
                            "label": "New row"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "rowSeparator",
                        "type": "select",
                        "label": "Row separator",
                        "validate": {
                            "enum": [
                                "\n",
                                "\t",
                                "other"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "value",
                        "type": "text",
                        "label": "Text"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 35,
            "module": "ai-tools:Ask",
            "version": 2,
            "parameters": {
                "model": "small",
                "makeConnectionId": 13839805
            },
            "mapper": {
                "input": "Tu es un expert en veille IA et automatisation pour TPE/PME.\nTu rédiges pour des dirigeants d'entreprises de 1 à 50 salariés, basés en \nÎle-de-France, souvent seuls face aux décisions tech. Ils manquent de temps, \nde budget et de ressources IT. Chaque article sélectionné doit leur apporter \nune valeur immédiate, concrète et actionnable — pas de la théorie.\n\nVoici le texte brut d'une newsletter. Ton travail se déroule en 4 étapes :\n\n---\nÉTAPE 1 — EXTRACTION\nIdentifie et extrais tous les articles présents dans ce texte brut.\nPour chaque article, retrouve :\n- titre : le titre de l'article\n- texte : le résumé/description de l'article\n- lien : l'URL associée (si présente)\n\n⚠️ DÉDUPLICATION DÈS L'EXTRACTION :\n- Si le même article apparaît plusieurs fois dans le texte brut \n  (même URL ou même titre), ne l'extraire qu'une seule fois\n- Si deux articles ont des URLs différentes mais traitent exactement \n  du même sujet, signaler le doublon et ne garder que le plus complet\n\n---\nÉTAPE 1.1 — RÉÉCRITURE\nRéécris le titre pour le rendre :\n- court\n- clair\n- percutant\n- orienté valeur entrepreneur TPE/PME\n\nReformule chaque texte en résumé fluide, orienté bénéfice lecteur, \nd'environ 4-5 phrases.\n\nTon style d'écriture :\n- Professionnel mais accessible, sans jargon inutile\n- Chaque résumé se termine TOUJOURS par une phrase commençant par \n  \"Ce que ça change concrètement pour vous / votre business :\"\n- Phrases courtes, actives, énergiques\n- Pas d'introduction générale — on plonge directement dans les articles\n\n---\nÉTAPE 2 — SÉLECTION\nParmi tous les articles extraits, sélectionne les 6 maximum les PLUS \nPERTINENTS pour un chef d'entreprise TPE/PME d'Île-de-France qui \ns'intéresse à :\n- l'automatisation de processus métier\n- l'utilisation concrète de l'IA au quotidien\n- la productivité et le gain de temps\n- les outils pratiques et accessibles\n- la cybersécurité liée à l'IA\n\nRÈGLES DE SÉLECTION OBLIGATOIRES :\n\n✅ Sélectionne au moins un article provenant de blogdumoderateur.com\n\n✅ Justifie OBLIGATOIREMENT chaque article sélectionné en 1 phrase \n   claire — ce champ ne peut jamais être vide, null ou absent\n\n✅ Hiérarchise les articles du plus au moins pertinent pour une TPE/PME \n   francilienne (rang 1 = le plus utile et actionnable immédiatement)\n\n❌ FILTRE GÉOGRAPHIQUE — Exclure systématiquement :\n   - Les événements physiques locaux hors Île-de-France \n     (conférences, ateliers à Calais, Rennes, Bordeaux, etc.)\n   - Exception : si l'événement est accessible à distance \n     (webinaire, MOOC, ressource en ligne), il peut être conservé\n   - Si un article cite une région hors IDF, ne le sélectionner QUE si \n     l'enseignement est universel et directement transposable à \n     n'importe quelle TPE/PME\n\n❌ Exclure les articles trop théoriques, trop techniques ou sans \n   application concrète immédiate pour un dirigeant non-tech\n\n❌ ANTI-DOUBLONS — Règles strictes :\n   - Chaque URL doit être unique dans la sélection finale\n   - Si deux articles pointent vers le même lien, ne garder que le \n     plus complet\n   - Si deux articles traitent du même sujet avec des URLs différentes, \n     ne garder que le plus pertinent pour une TPE/PME IDF\n   - Avant de finaliser la sélection, vérifier que les 6 articles ont \n     bien 6 URLs distinctes\n   - Si le texte brut contient le même article plusieurs fois, \n     ne le compter qu'une seule fois\n\n---\nÉTAPE 3 — ENRICHISSEMENT\nPour chacun des 6 articles sélectionnés, tu DOIS obligatoirement \nattribuer les 3 éléments suivants AVANT de passer à l'étape 4 :\n\nÉLÉMENT A — EMOJI\nChoisis 1 emoji pertinent et accrocheur en lien avec le contenu \nde l'article.\n\nÉLÉMENT B — CATEGORIE (CRITIQUE - NE JAMAIS OMETTRE)\nLe nom du champ JSON est EXACTEMENT : \"categorie\"\n⚠️ PAS \"analyse\", PAS \"category\", PAS \"type\", PAS \"theme\", PAS \"tag\"\n⚠️ UNIQUEMENT le mot : \"categorie\" — sans accent, sans majuscule\n\nTu DOIS choisir UNE valeur parmi cette liste fermée de 8 options :\n  → \"IA & Outils\"        (article sur un outil IA)\n  → \"Automatisation\"     (article sur workflow, automatisation, gain de temps)\n  → \"Cybersécurité\"      (article sur sécurité, fraude, protection)\n  → \"Business\"           (article sur stratégie, marché, entreprise)\n  → \"Productivité\"       (article sur efficacité, organisation)\n  → \"No-Code\"            (article sur outils sans code)\n  → \"Aide\"               (article sur ressources, accompagnement)\n  → \"Apprendre & Progresser\" (article sur formation, MOOC, tutoriel)\n\n⚠️ CE CHAMP EST OBLIGATOIRE. Une catégorie manquante = réponse invalide.\n⚠️ Toute valeur hors de cette liste = réponse invalide.\n\nÉLÉMENT C — DATE\nLe nom du champ JSON est EXACTEMENT : \"date_publication\"\nFormat YYYY-MM-DD strict. Exemple : 2026-05-18\nBasée sur la date de la newsletter si non précisée dans l'article.\n\n---\nÉTAPE 4 — FORMAT DE SORTIE\n\n⚠️ RÈGLES ABSOLUES :\n- Retourne UNIQUEMENT le JSON brut, sans aucun texte avant ou après\n- Pas de balises markdown, pas de ```json, pas d'explication\n- Le JSON doit être valide et parseable directement\n\nAVANT de retourner le JSON, vérifie mentalement pour chaque article :\n  ✓ \"rang\" est un entier entre 1 et 6 ?\n  ✓ \"emoji\" contient 1 emoji ?\n  ✓ \"titre\" est court et percutant ?\n  ✓ \"categorie\" — le champ se nomme EXACTEMENT \"categorie\" \n    (pas \"analyse\", pas \"category\", pas \"type\", pas \"theme\", pas \"tag\") \n    et contient une valeur EXACTE parmi les 8 options de la liste ?\n  ✓ \"date_publication\" est au format YYYY-MM-DD ?\n  ✓ \"resume\" se termine par \"Ce que ça change...\" ?\n  ✓ \"lien\" est une URL complète ?\n  ✓ \"justification\" n'est pas vide ?\nSi une de ces vérifications échoue → corriger avant de retourner le JSON.\n\nLes 8 champs OBLIGATOIRES pour chaque article, dans cet ordre EXACT :\n  1. \"rang\"\n  2. \"emoji\"\n  3. \"titre\"\n  4. \"categorie\"\n  5. \"date_publication\"\n  6. \"resume\"\n  7. \"lien\"\n  8. \"justification\"\n\nFormat attendu STRICT :\n\n[\n  {\n    \"rang\": 1,\n    \"emoji\": \"🤖\",\n    \"titre\": \"Titre court et percutant\",\n    \"categorie\": \"IA & Outils\",\n    \"date_publication\": \"2026-03-26\",\n    \"resume\": \"Résumé fluide de 4-5 phrases orienté bénéfice. Ce que ça \n               change concrètement pour vous / votre business : valeur \n               actionnable et immédiate.\",\n    \"lien\": \"https://...\",\n    \"justification\": \"Pertinent car raison concrète liée aux besoins \n                      TPE/PME IDF.\"\n  },\n  {\n    \"rang\": 2,\n    \"emoji\": \"🔒\",\n    \"titre\": \"Deuxième titre court et percutant\",\n    \"categorie\": \"Cybersécurité\",\n    \"date_publication\": \"2026-03-26\",\n    \"resume\": \"Résumé fluide de 4-5 phrases orienté bénéfice. Ce que ça \n               change concrètement pour vous / votre business : valeur \n               actionnable et immédiate.\",\n    \"lien\": \"https://...\",\n    \"justification\": \"Pertinent car raison concrète liée aux besoins \n                      TPE/PME IDF.\"\n  },\n  {\n    \"rang\": 3,\n    \"emoji\": \"⚡\",\n    \"titre\": \"Troisième titre court et percutant\",\n    \"categorie\": \"Automatisation\",\n    \"date_publication\": \"2026-03-26\",\n    \"resume\": \"Résumé fluide de 4-5 phrases orienté bénéfice. Ce que ça \n               change concrètement pour vous / votre business : valeur \n               actionnable et immédiate.\",\n    \"lien\": \"https://...\",\n    \"justification\": \"Pertinent car raison concrète liée aux besoins \n                      TPE/PME IDF.\"\n  }\n]\n\n❌ STRICTEMENT INTERDIT :\n- Omettre un champ parmi les 8, en particulier \"categorie\"\n- Nommer \"categorie\" autrement : \"analyse\", \"category\", \"type\", \n  \"theme\", \"tag\" sont tous INVALIDES et entraînent une réponse invalide\n- Changer l'ordre des 8 champs\n- Ajouter des champs supplémentaires non listés\n- Retourner du texte, une introduction ou une conclusion hors du JSON\n- Utiliser un format de date autre que YYYY-MM-DD\n- Laisser \"categorie\" vide, null ou avec une valeur hors liste des 8 options\n- Retourner deux articles avec le même \"lien\"\n- Retourner deux articles avec un \"titre\" identique ou quasi-identique\n- Sélectionner plus d'une fois un article déjà présent dans la liste, \n  même reformulé différemment\n\n---\nTEXTE BRUT DE LA NEWSLETTER :\n\n=== SOURCE 1 : FranceNum Formations ===\n{{11.text}}\n\n=== SOURCE 2 : FranceNum Aides ===\n{{3.text}}\n\n=== SOURCE 3 : FranceNum Principal ===\n{{14.text}}\n\n=== SOURCE 4 : Blog du Modérateur ===\n{{20.text}}\n\n=== SOURCE 5 : Bpifrance / Google News ===\n{{37.text}}"
            },
            "metadata": {
                "designer": {
                    "x": 3300,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "model": {
                            "mode": "chose",
                            "label": "SmallModel: gpt-5-nano. Reasoning: minimal. Efficiently handles long conversations and reasoning, delivering smart conclusions quickly",
                            "nested": []
                        },
                        "makeConnectionId": {
                            "data": {
                                "scoped": "true",
                                "connection": "ai-provider"
                            },
                            "label": "My Make's AI Provider connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "makeConnectionId",
                        "type": "account:ai-provider,openai-gpt-3,anthropic-claude,gemini-ai-q9zyjp,ai-agent-foundry-openai,ai-agent-foundry-non-openai,mistral-ai,cohere,groq,ai-agent-xai,amazon-bedrock,ai-agent-openai-compatible",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "input",
                        "type": "text",
                        "label": "Text",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 38,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "filter": null,
            "mapper": {
                "name": "json",
                "scope": "roundtrip",
                "value": "{{replace(35.answer; \"/^[\\s\\S]*?(\\[[\\s\\S]*\\])[\\s\\S]*$/\"; \"$1\")}}"
            },
            "metadata": {
                "designer": {
                    "x": 3600,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "json",
                        "type": "any",
                        "label": "json"
                    }
                ]
            }
        },
        {
            "id": 18,
            "module": "json:ParseJSON",
            "version": 1,
            "parameters": {
                "type": ""
            },
            "mapper": {
                "json": "{{38.json}}"
            },
            "metadata": {
                "designer": {
                    "x": 3900,
                    "y": 0,
                    "name": "JSON – Parse réponse IA"
                },
                "restore": {
                    "parameters": {
                        "type": {
                            "label": "Choose a data structure"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure"
                    }
                ],
                "expect": [
                    {
                        "name": "json",
                        "type": "text",
                        "label": "JSON string",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 30,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "filter": null,
            "mapper": {
                "name": "datePublication",
                "scope": "roundtrip",
                "value": "{{formatDate(parseDate(18.date_publication; \"YYYY-MM-DD\"); \"DD-MM-YYYY\")}}"
            },
            "metadata": {
                "designer": {
                    "x": 4200,
                    "y": 0,
                    "name": "Variable – Formatage date publication"
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "datePublication",
                        "type": "any",
                        "label": "datePublication"
                    }
                ]
            }
        },
        {
            "id": 28,
            "module": "util:TextAggregator",
            "version": 1,
            "parameters": {
                "feeder": 18,
                "rowSeparator": ""
            },
            "mapper": {
                "value": "<!-- ===== BLOC ARTICLE — répéter pour chaque article ===== -->\n<tr>\n<td style=\"padding: 0 20px 20px 20px;\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"\nstyle=\"background-color: #F9FAFB; border-radius: 12px; overflow: hidden;\">\n<tr>\n<td style=\"padding: 18px 22px 18px 22px;\">\n\n<!-- Ligne : Badge catégorie + Date -->\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"\nstyle=\"margin-bottom: 12px;\">\n<tr>\n<td style=\"vertical-align: middle;padding-right: 12px;\">\n<span style=\"\ndisplay: inline-block;\nbackground-color: #E066AB;\ncolor: #ffffff;\nfont-family: Arial, Helvetica, sans-serif;\nfont-size: 10px;\nfont-weight: 700;\ntext-transform: uppercase;\nletter-spacing: 0.1em;\npadding: 3px 10px;\nborder-radius: 20px;\nline-height: 1.6;\n\">{{18.categorie}}</span>\n</td>\n<td align=\"right\" style=\"vertical-align: middle;\">\n<span style=\"\nfont-family: Arial, Helvetica, sans-serif;\nfont-size: 14px;\ncolor: #999999;\n\">{{formatDate(30.datePublication; \"DD-MM-YYYY\")}}</span>\n</td>\n</tr>\n</table>\n\n<!-- Titre avec emoji -->\n<p style=\"\nfont-family: Arial, Helvetica, sans-serif;\nfont-size: 18px;\nfont-weight: 700;\ncolor: #1a1a1a;\nline-height: 1.45;\nmargin: 0 0 10px 0;\n\"> {{18.emoji}} {{18.titre}}</p>\n\n<!-- Résumé -->\n<p style=\"\nfont-family: Arial, Helvetica, sans-serif;\nfont-size: 16px;\ncolor: #444444;\nline-height: 1.65;\nmargin: 0 0 16px 0;\n\">{{18.resume}}.</p>\n<!-- 💡 Justificatif IA -->\n<p style=\"\nfont-family: Arial, Helvetica, sans-serif;\nfont-size: 14px;\ncolor: #6B7280;\nfont-style: italic;\nline-height: 1.5;\nmargin: 0 0 16px 0;\npadding: 8px 12px;\nbackground-color: #F3F4F6;\nborder-left: 3px solid #E066AB;\nborder-radius: 4px;\n\">💡 Pourquoi cet article vous concerne : {{18.justification}}</p>\n<!-- CTA -->\n<a href=\"{{18.lien}}\" target=\"_blank\" rel=\"noopener noreferrer\" style=\"\ndisplay: inline-block;\nbackground-color: #6D28D9;\ncolor: #ffffff;\nfont-family: Arial, Helvetica, sans-serif;\nfont-size: 12px;\nfont-weight: 700;\ntext-decoration: none;\npadding: 8px 16px;\nborder-radius: 6px;\nletter-spacing: 0.02em;\n\">Voir l'article →</a>\n\n</td>\n</tr>\n</table>\n</td>\n</tr>\n<!-- ===== FIN BLOC ARTICLE ===== --"
            },
            "metadata": {
                "designer": {
                    "x": 4500,
                    "y": 0,
                    "name": "HTML – Bloc article (agrégation)"
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "JSON – Parse réponse IA - Parse JSON [18]"
                        }
                    },
                    "parameters": {
                        "rowSeparator": {
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "rowSeparator",
                        "type": "select",
                        "label": "Row separator",
                        "validate": {
                            "enum": [
                                "\n",
                                "\t",
                                "other"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "value",
                        "type": "text",
                        "label": "Text"
                    }
                ]
            }
        },
        {
            "id": 26,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "email",
                "scope": "roundtrip",
                "value": "<!DOCTYPE html>\n<html lang=\"fr\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Newsletter YanaLabs — {{formatDate(now; \"DD-MM-YYYY\")}}</title>\n</head>\n<body style=\"margin: 0; padding: 0;  font-family: Arial, Helvetica, sans-serif;\">\n\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"\n         style=\"background-color: #D4DBE2; padding: 30px 0;\">\n    <tr>\n      <td align=\"center\">\n        <table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"\n               style=\"max-width: 600px; background-color: #F9FAFB; border-radius: 16px; overflow: hidden;\">\n\n          <!-- ===== HEADER ===== -->\n          <tr>\n            <td style=\"background-color: #6D28D9; padding: 24px 28px;\">\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                <tr>\n                  <td>\n                    <p style=\"color: #ffffff; font-size: 20px; font-weight: 700; margin: 0;\n                               letter-spacing: -0.02em;\">YanaLabs</p>\n                    <p style=\"color: #ffffff; font-size: 14px; margin: 4px 0 0 0;\">\n                      IA & Automatisation pour TPE/PME</p>\n                  </td>\n                  <td align=\"right\">\n                    <p style=\"color: #ffffff; font-size: 13px; margin: -4px;\">\n                     {{formatDate(now; \"DD-MM-YYYY\")}} </p>\n                   \n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n\n          <!-- ===== INTRO ===== -->\n          <tr>\n            <td style=\"padding: 28px 28px 8px 28px;\">\n              <p style=\"font-size: 22px; font-weight: 700; color: #6D28D9; margin: 0 0 10px 0;\n                         line-height: 1.3;\">🗞️ Les actus qui comptent</p>\n              <p style=\"font-size: 16px; color: #3B3A3A; line-height: 1.6; margin: 0 0 24px 0;\">\nTous les quinze jours : les actus sélectionnées pour vous — IA, automatisation, outils no-code et tendances business. \n              </p>\n            </td>\n          </tr>\n                   {{28.text}}\n          <tr>\n            <td style=\"padding: 0 20px 20px 20px;\">\n              <hr style=\"border: none; border-top: 1px solid #e8e8e8; margin: 4px 0;\">\n            </td>\n          </tr>\n\n          <!-- ===== CTA PROMO (optionnel — à personnaliser) ===== -->\n          <tr>\n            <td style=\"padding: 0 20px 24px 20px;\">\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"\n                     style=\"background-color: #22C55E; border-radius: 12px;\">\n                <tr>\n                  <td style=\"padding: 22px 24px;\">\n                    <p style=\"font-family: Arial, sans-serif; font-size: 18px; font-weight: 700;\n                               color: #ffffff; margin: 0 0 8px 0;\">\n                      💡 Automatisez votre business avec YanaLabs</p>\n                    <p style=\"font-family: Arial, sans-serif; font-size: 13px; color: #ffffff;\n                               line-height: 1.6; margin: 0 0 16px 0;\">\n                      Vous perdez du temps sur des tâches répétitives ? \n                      Je construis des automatisations sur-mesure avec Make, Airtable et l'IA \n                      pour que vous puissiez vous concentrer sur ce qui compte vraiment.\n                    </p>\n                    <a href=\"https://yanalabs.fr\" target=\"_blank\" style=\"\n                      display: inline-block;\n                      background-color: #ffffff;\n                      color: #111111;\n                      font-family: Arial, sans-serif;\n                      font-size: 12px;\n                      font-weight: 700;\n                      text-decoration: none;\n                      padding: 9px 18px;\n                      border-radius: 6px;\n                    \">Découvrir YanaLabs →</a>\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n\n          <!-- ===== FOOTER ===== -->\n          <tr>\n            <td style=\"background-color: #6D28D9; padding: 20px 28px; border-top: 1px solid #e8e8e8;\">\n              <p style=\"font-family: Arial, sans-serif; font-size: 12px; color: #ffffff;\n                         text-align: center; line-height: 1.6; margin: 0;\">\n                Vous recevez cet email car vous êtes abonné(e) à la newsletter YanaLabs.<br>\n                \n                <a href=\"LIEN_DESINSCRIPTION\" style=\"color: #ffffff;\">Se désabonner</a>\n              </p>\n            </td>\n          </tr>\n\n        </table>\n      </td>\n    </tr>\n  </table>\n\n</body>\n</html>"
            },
            "metadata": {
                "designer": {
                    "x": 4800,
                    "y": 0,
                    "name": "Variable – Assemblage email HTML"
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "email",
                        "type": "any",
                        "label": "email"
                    }
                ]
            }
        },
        {
            "id": 31,
            "module": "airtable:ActionSearchRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 14049688
            },
            "filter": {
                "name": "Email HTML assemblé",
                "conditions": [
                    [
                        {
                            "a": "{{26.email}}",
                            "o": "exist"
                        }
                    ]
                ]
            },
            "mapper": {
                "base": "appWmRSIxiwZHudlK",
                "table": "tbl2pQsr1Mta323TV",
                "fields": [
                    "Email"
                ],
                "maxRecords": "500",
                "useColumnId": true
            },
            "metadata": {
                "designer": {
                    "x": 5100,
                    "y": 0,
                    "name": "Airtable – Récupération abonnés"
                },
                "restore": {
                    "expect": {
                        "base": {
                            "mode": "chose",
                            "label": "Newsletter "
                        },
                        "sort": {
                            "mode": "chose"
                        },
                        "view": {
                            "mode": "chose"
                        },
                        "table": {
                            "mode": "chose",
                            "label": "Abonnements"
                        },
                        "fields": {
                            "mode": "chose",
                            "label": [
                                "Email"
                            ]
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable3"
                            },
                            "label": "My Airtable OAuth connection (User ID: usrgz9FtSza70J76z)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit"
                    },
                    {
                        "name": "sort",
                        "spec": [
                            {
                                "name": "field",
                                "type": "select",
                                "label": "Field",
                                "dynamic": true,
                                "options": []
                            },
                            {
                                "name": "direction",
                                "type": "select",
                                "label": "Direction",
                                "options": [
                                    {
                                        "label": "Descending",
                                        "value": "desc"
                                    },
                                    {
                                        "label": "Ascending",
                                        "value": "asc"
                                    }
                                ]
                            }
                        ],
                        "type": "array",
                        "label": "Sort"
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    },
                    {
                        "name": "fields",
                        "type": "select",
                        "label": "Output Fields",
                        "multiple": true
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "fldlBpqFCCxfKp3xw",
                        "type": "text",
                        "label": "Email"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 27,
            "module": "google-email:sendAnEmail",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 13839809
            },
            "mapper": {
                "to": [
                    "{{31.fldlBpqFCCxfKp3xw}}"
                ],
                "content": "{{26.email}}",
                "subject": "📬 {{formatDate(now; \"D\")}} {{switch(formatDate(now; \"M\"); 1; \"janvier\"; 2; \"février\"; 3; \"mars\"; 4; \"avril\"; 5; \"mai\"; 6; \"juin\"; 7; \"juillet\"; 8; \"août\"; 9; \"septembre\"; 10; \"octobre\"; 11; \"novembre\"; 12; \"décembre\")}} – Numérique & IA – L'essentiel pour votre TPE/PME",
                "bodyType": "rawHtml"
            },
            "metadata": {
                "designer": {
                    "x": 5400,
                    "y": 0,
                    "name": "Gmail – Envoi newsletter                      "
                },
                "restore": {
                    "expect": {
                        "cc": {
                            "mode": "chose"
                        },
                        "to": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "bcc": {
                            "mode": "chose"
                        },
                        "from": {
                            "mode": "chose"
                        },
                        "bodyType": {
                            "label": "Raw HTML"
                        },
                        "attachments": {
                            "mode": "chose"
                        },
                        "emailHeaders": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-email"
                            },
                            "label": "My Gmail connection (yanapalyvoda@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-email",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "to",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Recipient email address",
                            "required": true,
                            "validate": true
                        },
                        "type": "array",
                        "label": "To",
                        "required": true
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "rawHtml",
                                "collection"
                            ]
                        }
                    },
                    {
                        "name": "attachments",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "filename",
                                    "type": "filename",
                                    "label": "File name",
                                    "required": true,
                                    "semantic": "file:name"
                                },
                                {
                                    "name": "data",
                                    "type": "buffer",
                                    "label": "Data",
                                    "required": true,
                                    "semantic": "file:data"
                                }
                            ],
                            "type": "collection",
                            "label": "Attachment"
                        },
                        "type": "array",
                        "label": "Attachments"
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "From"
                    },
                    {
                        "name": "cc",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Recipient email address"
                        },
                        "type": "array",
                        "label": "CC recipients"
                    },
                    {
                        "name": "bcc",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Recipient email address"
                        },
                        "type": "array",
                        "label": "BCC recipients"
                    },
                    {
                        "name": "emailHeaders",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Key",
                                    "required": true
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Email header"
                        },
                        "type": "array",
                        "label": "Additional email headers"
                    },
                    {
                        "name": "content",
                        "type": "text",
                        "label": "Content"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}